<!--<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="list-group" data-bind="foreach: historyrecords">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Search History:</h5>
                        <small data-bind=" text: timestamped"></small>
                    </div>
                    <input type="checkbox" name="searchtopic" style="float: left; margin-top: 4px;">
                    <div>
                        <p class="mb-1" data-bind=" text: searchquery" style="border:2px; border-style:double; border-color:#FFFFFF;"></p>

                    </div>


                </a>

            </div>
        </div>
        <div class="col-8">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Remove selected items
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="select-all" id="select-all">
                <label class="form-check-label" for="defaultCheck1">
                    Clear browsing data
                </label>
            </div>




        </div>
    </div>
</div>-->
<!--<div>
    <div>
        History: <input />
    </div>

    <ul data-bind="foreach: historyrecords">
        <li>
        <a data-bind=" text: searchquery"></a>>

    </li>
    </ul>
    <button data-bind="click: prevPage">Prev</button>
    <button data-bind="click: nextPage">Next</button>
</div>-->



<script type="text/javascript">
    $(document).ready(function () {

        $('input[name="all"],input[name="title"]').bind('click', function () {
            var status = $(this).is(':checked');
            $('input[type="checkbox"]', $(this).parent('li')).attr('checked', status);
        });

    });
</script>




<div id="wrapper">
    <li style="margin-top: 20px">
        <input type="checkbox" name="all" id="all" /> <label for='all'>All</label>
        <ul>
            <li>
                <input type="checkbox" name="title" id="title_1" /> <label for="title_1"><strong>Title 01</strong></label>
                <ul>
                    <li><input type="checkbox" name="selected[]" id="box_1" value="1" /> <label for="box_1">Sub Title 01</label></li>
                    <li><input type="checkbox" name="selected[]" id="box_2" value="2" /> <label for="box_2">Sub Title 02</label></li>
                    <li><input type="checkbox" name="selected[]" id="box_3" value="3" /> <label for="box_3">Sub Title 03</label></li>
                    <li><input type="checkbox" name="selected[]" id="box_4" value="4" /> <label for="box_4">Sub Title 04</label></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <input type="checkbox" name="title" id="title_2" /> <label for="title_2"><strong>Title 02</strong></label>
                <ul>
                    <li><input type="checkbox" name="selected[]" id="box_5" value="5" /> <label for="box_5">Sub Title 05</label></li>
                    <li><input type="checkbox" name="selected[]" id="box_6" value="6" /> <label for="box_6">Sub Title 06</label></li>
                    <li><input type="checkbox" name="selected[]" id="box_7" value="7" /> <label for="box_7">Sub Title 07</label></li>
                </ul>
            </li>
        </ul>
    </li>
</div>