<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="list-group" data-bind="foreach: historyrecords">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Search History:</h5>
                        <small data-bind=" text: timestamped"></small>
                    </div>
                    <input type="checkbox" name="searchtopic" style="float: left; margin-top: 4px;">
                    <div>
                        <p class="mb-1" data-bind=" text: searchquery" style="border:2px; border-style:double; border-color:#FFFFFF;"></p>

                    </div>


                </a>

            </div>
        </div>
        <div class="col-8">

            <div class="form-check">
                <button type="button" class="btn btn-danger">Remove selected items</button>

                <div class="form-check">
                    <div><input class=" form-check-input fa-trash" type="checkbox" onclick='selectAll()'></div>

                    <div>
                        <label class="form-check-label" for="defaultCheck1">
                            Clear browsing data
                        </label>
                    </div>

                    <div><input class=" form-check-input fa-trash" type="checkbox" onclick='UnSelectAll()'></div>

                    <div>
                        <label class="form-check-label" for="defaultCheck1">
                            Unselect all
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--<h1>History</h1>
<input data-bind="textInput: firstName" />
<input data-bind="textInput: lastName" />
<p>
    Hello <span data-bind="text: fullName"></span>
</p>
<span data-bind="text: Id"></span>
<span data-bind="text: Name"></span>
New Balance:
<input type="text" data-bind="value: Balance" />
<span data-bind="text: Balance"></span>

<big>Select your favourite accessories: </big>
<br>
<input type="checkbox" name="acs" value="Mobile">Mobile
<br>
<input type="checkbox" name="acs" value="Tab">Tab
<br>
<input type="checkbox" name="acs" value="Laptop">Laptop
<br>
<input type="checkbox" name="acs" value="IPod">IPod
<br>-->
<!--<p>
    <input type="checkbox" onclick='selectAll()' value="Select All" />
    <input type="checkbox" onclick='UnSelectAll()' value="Unselect All" />
</p>-->




