<h1>Search Page</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div>
                <form data-bind="submit: searchedPosts">
                    <input placeholder="search" data-bind="value: search"  />
                </form>
            </div>
        </div>
        <div class="col-sm">
            <button data-bind="click: prevPage, visible: prev">Prev</button>
            <button data-bind="click: nextPage">Next</button>
        </div>
    </div>
</div>

<!--<button data-bind="click: prevPage, visible: prev">Prev</button>
<button data-bind="click: nextPage">Next</button>
<div>
    <form data-bind="submit: searchedPosts">
        <input data-bind="value: search" />
    </form>
</div>-->

<div data-bind="visible: search">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <table class="table table-striped table-hover">
                    <thead><tr><th>Title</th><th>Score</th><th>Creation date</th></tr> </thead>
                    <tbody data-bind="foreach: posts">
                        <tr data-bind="click: $parent.selectedPost">
                            <td data-bind="text: title"></td>
                            <td data-bind="text: score"></td>
                            <td data-bind="text: creationDate"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-sm" >
                <table class="table">
                    <thead><tr><th>body</th></tr> </thead>
                    <tbody data-bind="foreach: body">
                        <tr>
                            <td data-bind="text: body"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--<input data-bind="value: prev" />-->
