<h1>Search Page</h1>
<body class="container">
        <div class="row">
            <div class="col-sm">
                <div class="container">
                    <form data-bind="submit: searchedPosts">
                        <input class="input-group"
                               placeholder="Search"
                               data-bind="value: search" />
                    </form>
                </div>
            </div>
        </div>
        <div class="btn-group" role="group">
            <button type="button"
                    class="btn btn-outline-info"
                    data-bind="click: prevPage"> Prev
            </button>
            <button type="button" 
                    class="btn btn-outline-info"
                    data-bind="click: nextPage"> Next
            </button>
        </div>

    <!--<button data-bind="click: prevPage, visible: prev">Prev</button>
    <button data-bind="click: nextPage">Next</button>
    <div>
        <form data-bind="submit: searchedPosts">
            <input data-bind="value: search" />
        </form>
    </div>-->

    <div data-bind="visible: search">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <table class="table table-striped table-hover">
                        <thead><tr><th>Title</th><th>Score</th><th>Creation date</th></tr> </thead>
                        <tbody data-bind="foreach: posts">
                            <tr data-bind="click: $parent.selectedPost">
                                <td data-bind="text: title"></td>
                                <td data-bind="text: score"></td>
                                <td data-bind="text: creationDate"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                    <div class="col-sm" >
                        <table class="table">
                            <thead><tr><th>body</th></tr> </thead>
                            <tbody data-bind="foreach: body">
                                <tr>
                                    <td data-bind="html: body">
                                    </td>
                                    <td>
                                        <button type="button" 
                                                class="btn btn-outline-info"
                                                data-bind="click: tst">Mark</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</body>

<!--<input data-bind="value: prev" />-->
